html, body {
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}



.heading {
	padding-top: 30%;
	padding-bottom: 30%;
}

.banner {
	width: 100%;
	top: 0;
	height: 100vh;
	position-top: 0px;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.banner video {
	top: 0;
	position: absolute;
	left: 0;
	object-fit: cover;
	width: 100%;
	height: auto;
	pointer-events: none;
}

.banner .content {
	position: relative;
	z-index: 1;
	max-width: 100px;
	margin: 0 auto;
	text-align: center;
}